<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="serverwebapi_url" value="http://localhost/SCServerApi/api/customer/edition_url/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>