<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="clientwebapi_url" value="http://localhost/SCClientApi/odata"/>
    <add key="serverwebapi_url" value="http://localhost/SCServerApi/api/customer/edition_url/"/>
  </appSettings>
  <startup>
  </startup>
</configuration>